[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
tornado = "*"
setuptools = "*"
admin-service = {editable = true, path = "."}
psycopg2-binary = "*"
sqlalchemy = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
