body{
    margin: 0%;
    padding: 0%;
    
}

header{
    /*background-color: whitesmoke;
    margin-top: 0%; ;
    margin-bottom: -1%;*/
    height: 60px;
    width: 100%;
    display: flexbox;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: var(--main-clr);
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}