.form-container {
    margin-left: 10%;
    width: 10%;
}


.RegisterPage select.input-elt {
    cursor: pointer;
}

.RegisterPage select.input-elt > option {
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}